*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    overflow-x:hidden;

    background:black;
}

/* CONTENEDOR */

.invitation{

    position:relative;

    width:100%;

    max-width:768px;

    margin:auto;
}

/* IMAGEN */

.bg{

    width:100%;

    display:block;
}

/* CAPA */

.content{

    position:absolute;

    inset:0;

    color:white;
}

/* NOMBRES */

.hero{

    position:absolute;

    top:4%;

    width:100%;

    text-align:center;
}

.hero h1{

    font-size:clamp(4rem,10vw,7rem);

    line-height:.9;

    font-weight:normal;

    letter-spacing:2px;
}

.hero span{

    font-size:3rem;
}

/* FRASE */

.phrase{

    position:absolute;

    top:14%;

    width:100%;

    text-align:center;

    font-size:1.1rem;

    line-height:1.8;

    letter-spacing:1px;
}

/* FECHA */

.date-section{

    position:absolute;

    top:24%;

    width:100%;

    display:flex;

    justify-content:center;

    gap:40px;

    text-align:center;
}

.date-section h3{

    font-size:1rem;

    margin-bottom:10px;

    font-weight:normal;
}

.date-section p{

    font-size:2rem;
}

/* MOMENTOS */

.timeline{

    position:absolute;

    top:55%;

    left:50%;

    transform:translateX(-50%);

    width:80%;
}

.moment{

    display:flex;

    align-items:center;

    gap:14px;

    margin-bottom:22px;

    font-size:1rem;
}

.moment i{

    font-size:1.5rem;
}

/* RSVP */

.rsvp-btn{

    position:absolute;

    bottom:4%;

    left:50%;

    transform:translateX(-50%);

    text-decoration:none;

    color:white;

    border:1px solid rgba(255,255,255,.5);

    padding:18px 42px;

    border-radius:14px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(4px);
}
