@font-face {
  font-family: 'Felix';
  src: url('../fonts/FELIXTI.TTF');
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#156d79;
  color:#f3f3f3;
  font-family:'Felix', serif;
  overflow-x:hidden;
}

/* BACKGROUND */

body::before{
  content:"";
  position:fixed;
  inset:0;
/*  background-image:url('../img/Fondo.jpg');*/
  background-image:red;
  background-size:cover;
  background-position:center;
  opacity:.25;
  z-index:-2;
}

/* GENERAL */

section{
  position:relative;
  padding:120px 25px;
}

h1,h2,h3,p{
  font-weight:300;
  letter-spacing:2px;
}

.fade-up{
  opacity:0;
  transform:translateY(50px);
  transition:1.4s ease;
}

.fade-up.show{
  opacity:1;
  transform:translateY(0);
}

/* HERO */

.hero{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.hero-content{
  max-width:900px;
}

.names{
  font-size:clamp(4rem, 12vw, 10rem);
  line-height:.95;
}

.names span{
  font-size:3rem;
}

.phrase{
  margin-top:90px;
  font-size:clamp(1rem, 2vw, 1.7rem);
  line-height:1.8;
}

/* DATE */

.date-section{
  text-align:center;
}

.date-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
  max-width:900px;
  margin:auto;
}

.date-grid h3{
  font-size:2rem;
  margin-bottom:10px;
}

.date-grid p{
  font-size:3rem;
}

/* LOCATION */

.location{
  text-align:center;
}

.location h2{
  font-size:clamp(2rem,4vw,3rem);
  margin-bottom:40px;
}

.location p{
  font-size:clamp(1rem,2vw,1.7rem);
  line-height:1.8;
}

/* TIMELINE */

.timeline{
  max-width:1000px;
  margin:auto;
  position:relative;
}

.line{
  position:absolute;
  left:50%;
  top:0;
  transform:translateX(-50%);
  width:2px;
  height:100%;
  background:rgba(255,255,255,.4);
}

.event{
  width:50%;
  padding:40px;
  position:relative;
}

.event img{
  width:70px;
  margin-bottom:20px;
  filter:brightness(0) invert(1);
}

.event h3{
  font-size:2rem;
  margin-bottom:10px;
}

.event p{
  font-size:2rem;
}

.left{
  text-align:right;
  left:0;
}

.right{
  left:50%;
}

/* DRESS CODE */

.dresscode{
  text-align:center;
}

.dresscode h2{
  font-size:2.5rem;
  margin-bottom:30px;
}

.dresscode h3{
  font-size:3.5rem;
  margin-bottom:50px;
}

.adults{
  font-size:1.5rem;
}

/* RSVP */

.rsvp{
  text-align:center;
  padding-bottom:180px;
}

.rsvp h2{
  font-size:2.5rem;
  margin-bottom:50px;
}

.btn{
  display:inline-block;
  padding:18px 50px;
  border:1px solid white;
  color:white;
  text-decoration:none;
  font-size:1.2rem;
  transition:.4s ease;
}

.btn:hover{
  background:white;
  color:#156d79;
}

/* MOBILE */

@media(max-width:768px){

  section{
    padding:90px 20px;
  }

  .date-grid{
    grid-template-columns:1fr;
    gap:50px;
  }

  .line{
    left:20px;
  }

  .event{
    width:100%;
    left:0 !important;
    padding-left:70px;
    text-align:left;
  }

  .event img{
    width:55px;
  }

  .event h3{
    font-size:1.5rem;
  }

  .event p{
    font-size:1.4rem;
  }

  .dresscode h3{
    font-size:2.5rem;
  }

}
