@font-face{

    font-family:'Felix';

    src:url('../fonts/FELIXTI.TTF');
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#156d79;

    overflow-x:hidden;

    font-family:'Felix', serif;
}

.invitation{

    position:relative;

    width:100%;

    max-width:768px;

    margin:auto;
}

/* IMAGEN */

.bg{

    width:100%;

    display:block;
}

/* CAPA SUPERIOR */

.overlay{

    position:absolute;

    inset:0;

    width:100%;
    height:100%;
}

/* HERO */

.hero{

    position:absolute;

    top:6%;

    width:100%;

    text-align:center;

    color:white;
}

.hero h1{

    font-size:clamp(4rem,10vw,7rem);

    line-height:.9;

    font-weight:normal;
}

.hero span{

    font-size:3rem;
}

.hero p{

    margin-top:50px;

    font-size:1.2rem;

    line-height:1.8;

    letter-spacing:1px;
}

/* INVITADO */

.guest-box{

    position:absolute;

    top:24%;

    left:50%;

    transform:translateX(-50%);

    width:75%;

    padding:25px;

    border:1px solid rgba(255,255,255,.35);

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(4px);

    border-radius:14px;

    text-align:center;

    color:white;
}

.guest-box h2{

    font-size:2rem;

    margin-bottom:10px;

    font-weight:normal;
}

.guest-box p{

    font-size:1rem;

    letter-spacing:1px;
}

/* FECHA */

.date-section{

    position:absolute;

    top:38%;

    width:100%;

    display:flex;

    justify-content:center;

    gap:40px;

    color:white;

    text-align:center;
}

.date-section h3{

    font-size:1.2rem;

    margin-bottom:10px;

    font-weight:normal;
}

.date-section p{

    font-size:2rem;
}

/* RSVP */

.rsvp-btn{

    position:absolute;

    left:50%;

    bottom:8%;

    transform:translateX(-50%);

    text-decoration:none;

    color:white;

    border:1px solid white;

    padding:18px 42px;

    font-size:1rem;

    letter-spacing:1px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(4px);

    transition:.3s;

    border-radius:10px;
}

.rsvp-btn:hover{

    background:white;

    color:#156d79;
}

/* MOBILE */

@media(max-width:768px){

    .hero{

        top:5%;
    }

    .hero p{

        font-size:1rem;

        padding:0 20px;
    }

    .guest-box{

        top:23%;

        width:82%;
    }

    .guest-box h2{

        font-size:1.5rem;
    }

    .date-section{

        top:37%;

        gap:20px;
    }

    .date-section h3{

        font-size:.9rem;
    }

    .date-section p{

        font-size:1.4rem;
    }

    .rsvp-btn{

        width:80%;

        text-align:center;

        bottom:6%;
    }

}
